*.xcuserstate
Evam_iOS_Common_Kit.xcframework
evam.xcframework
Pods/
Podfile.lock
Evam_iOS_Common_Kit.podspec
.DS_Store
fastlane/*.zip
fastlane/*.ipa
fastlane/Readme.md
fastlane/report.xml
Gemfile.lock
